<div class="row trade-categories cards">
    <div class="col-12 card-container container-fluid d-flex">
        <div class="card-info">
            <img class="card-img" src="{{image_url}}" alt="">
            {{!-- <p class="card-atrs">Name: {{card_name}}</p> --}}
            <p class="card-atrs">Set: {{set_name}}</p>
            <p class="card-atrs">Rarity: {{card_rarity}}</p>
        </div>
    </div> 
</div>