<div class="col-auto card-container container-fluid d-flex">
    <div class="card-info">
        <img class="card-img" src="{{image_url}}" alt="">
        <p class="card-atrs">Set: {{set}}</p>
        <p class="card-atrs">Rarity: {{rarity}}</p>
    </div>
</div> 