<form class="login-form container">
        <h2>Log in</h2>
        <input type="text" class="row text mx-auto" placeholder="Username" required="required">
        <input type="password" class="row text mx-auto" placeholder="Password" required="required">
        <input type="submit" class="mx-auto submit-btn">
</form>