<form class="login-form container">
    <h2>Log in</h2>
    <div>
        <input type="text" id="email-login" class="row text mx-auto" placeholder="Email Address" required="required">
    </div>
    <div>
        <input type="password" id="password-login" class="row text mx-auto" placeholder="Password" required="required">
    </div>
    <div>
        <button type="submit" class="mx-auto submit-btn">login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>