<body>
    <div class="sample-posting">
        <!-- user info -->
        <p class="top-row ns-row"></p>
        <!-- cards to trade -->
        <div class="row trade-categories">
            <p class="col-6">Card(s) you have</p>
            <p class="col-6">Card(s) you want</p>
        </div>
        <div class="row trade-categories cards">
            <div class="col-6 card-container container-fluid d-flex align-items-center">
                <div class="col-auto sample-card"></div>
                <div class="col-auto sample-card"></div>
                <button class="add-button">+</button>
            </div>
            <div class="col-6 card-container d-flex align-items-center">
                <div class="col-auto sample-card"></div>
                <div class="col-auto sample-card"></div>
                <button class="add-button">+</button>
            </div>
            
        </div>
        <!-- comment -->
        <div class="bottom-row ns-row">
            <button class="comment-button ">Post</button>
        </div>
    </div>   
</body>