<form class="signup-form container">
    <h2>Register</h2>
    <div>
        <input type="text" id="username-signup" class="row text mx-auto" placeholder="Username" required="required">
    </div>
    <div>
        <input type="text" id="email-signup" class="row text mx-auto" placeholder="Email" required="required">
    </div>
    <div>
        <input type="password" id="password-signup" class="row text mx-auto" placeholder="Password" required="required">
    </div>
    <div>
        <button type="submit" class="mx-auto submit-btn">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>
