<div class="sample-posting">
    <p class="top-row ns-row">{{ user.username }}</p>
    <div class="row trade-categories">
        <p class="col-6">You receive</p>
        <p class="col-6">You give</p>
    </div>
    <div class="row trade-categories cards">
        <div class="col-6 card-container container-fluid d-flex">
            <div class="col-auto sample-card"></div>
            <div class="col-auto sample-card"></div>
        </div>
        <div class="col-6 card-container d-flex">
            <div class="sample-card"></div>
            <div class="sample-card"></div>
        </div>
    </div>
    <div class="bottom-row ns-row">
        <button class="comment-button">Comment</button>
    </div>
</div> 